# Parte 1
## Análisis de Sentimientos

### Limpieza de Datos

#### Import and Data Shaping

In [1]:
import numpy as np 
import pandas as pd
import re

import matplotlib.pyplot as plt
import seaborn as sns

import os

# Preprocesado y modelado
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import ToktokTokenizer
from nltk.stem import SnowballStemmer

import eli5

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import joblib
from sklearn.naive_bayes import MultinomialNB

In [2]:
reviews = pd.read_csv('../csv/womens_clothing_reviews.csv', encoding='latin-1')
df = reviews.copy()
df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

In [3]:
df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [4]:
df.drop(columns=['Unnamed: 0', 'Clothing ID'], inplace=True)
df

,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...
23481,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

In [5]:
reviews_and_target = df[['Review Text', 'Rating']]
reviews_and_target

                                             Review Text  Rating
0      Absolutely wonderful - silky and sexy and comf...       4
1      Love this dress!  it's sooo pretty.  i happene...       5
2      I had such high hopes for this dress and reall...       3
3      I love, love, love this jumpsuit. it's fun, fl...       5
4      This shirt is very flattering to all due to th...       5
...                                                  ...     ...
23481  I was very happy to snag this dress at such a ...       5
23482  It reminds me of maternity clothes. soft, stre...       3
23483  This fit well, but the top was very see throug...       3
23484  I bought this dress for a wedding i have this ...       3
23485  This dress in a lovely platinum is feminine an...       5

[23486 rows x 2 columns]

In [6]:
reviews_and_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review Text  22641 non-null  object
 1   Rating       23486 non-null  int64
dtypes: int64(1), object(1)
memory usage: 367.1+ KB

In [7]:
reviews_and_target['Good Ratings'] = reviews_and_target.Rating >= 4
reviews_and_target.drop(columns=['Rating'], inplace=True)
reviews_and_target

C:\Users\jonat\AppData\Local\Temp\ipykernel_54120\902374162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_and_target['Good Ratings'] = reviews_and_target.Rating >= 4
C:\Users\jonat\AppData\Local\Temp\ipykernel_54120\902374162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_and_target.drop(columns=['Rating'], inplace=True)

                                             Review Text  Good Ratings
0      Absolutely wonderful - silky and sexy and comf...          True
1      Love this dress!  it's sooo pretty.  i happene...          True
2      I had such high hopes for this dress and reall...         False
3      I love, love, love this jumpsuit. it's fun, fl...          True
4      This shirt is very flattering to all due to th...          True
...                                                  ...           ...
23481  I was very happy to snag this dress at such a ...          True
23482  It reminds me of maternity clothes. soft, stre...         False
23483  This fit well, but the top was very see throug...         False
23484  I bought this dress for a wedding i have this ...         False
23485  This dress in a lovely platinum is feminine an...          True

[23486 rows x 2 columns]

In [8]:
reviews_and_target['Good Ratings'] = reviews_and_target['Good Ratings'].astype(np.int8)
reviews_and_target

C:\Users\jonat\AppData\Local\Temp\ipykernel_54120\3936400925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_and_target['Good Ratings'] = reviews_and_target['Good Ratings'].astype(np.int8)

                                             Review Text  Good Ratings
0      Absolutely wonderful - silky and sexy and comf...             1
1      Love this dress!  it's sooo pretty.  i happene...             1
2      I had such high hopes for this dress and reall...             0
3      I love, love, love this jumpsuit. it's fun, fl...             1
4      This shirt is very flattering to all due to th...             1
...                                                  ...           ...
23481  I was very happy to snag this dress at such a ...             1
23482  It reminds me of maternity clothes. soft, stre...             0
23483  This fit well, but the top was very see throug...             0
23484  I bought this dress for a wedding i have this ...             0
23485  This dress in a lovely platinum is feminine an...             1

[23486 rows x 2 columns]

#### Verificación nulls

In [9]:
reviews_and_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Review Text   22641 non-null  object
 1   Good Ratings  23486 non-null  int8
dtypes: int8(1), object(1)
memory usage: 206.5+ KB

Vemos que hay cantidades diferentes de reviews y ratings, por lo que vamos a sacar los datos inválidos.

In [10]:
reviews_and_target.dropna(inplace=True)
reviews_and_target.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22641 entries, 0 to 23485
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Review Text   22641 non-null  object
 1   Good Ratings  22641 non-null  int8
dtypes: int8(1), object(1)
memory usage: 375.9+ KB

C:\Users\jonat\AppData\Local\Temp\ipykernel_54120\1881422295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_and_target.dropna(inplace=True)

Al hacer el `dropna()`, se están salteando índices. Para arreglar esto, vamos a resetear los índices con el método `reset_index()`.

In [11]:
reviews_and_target.reset_index(inplace=True)
reviews_and_target.drop(columns=['index'], inplace=True)
reviews_and_target

C:\Users\jonat\AppData\Local\Temp\ipykernel_54120\2140223640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_and_target.drop(columns=['index'], inplace=True)

                                             Review Text  Good Ratings
0      Absolutely wonderful - silky and sexy and comf...             1
1      Love this dress!  it's sooo pretty.  i happene...             1
2      I had such high hopes for this dress and reall...             0
3      I love, love, love this jumpsuit. it's fun, fl...             1
4      This shirt is very flattering to all due to th...             1
...                                                  ...           ...
22636  I was very happy to snag this dress at such a ...             1
22637  It reminds me of maternity clothes. soft, stre...             0
22638  This fit well, but the top was very see throug...             0
22639  I bought this dress for a wedding i have this ...             0
22640  This dress in a lovely platinum is feminine an...             1

[22641 rows x 2 columns]

### Entrenamiento con el método Regresión Logistica

In [12]:
# Split into training and testing data
x = reviews_and_target['Review Text']
y = reviews_and_target['Good Ratings']
x_train, x_test, y_train, y_test = train_test_split(x,y, stratify=y, test_size=0.3, random_state=42)

In [13]:
# Vectorize text reviews to numbers
vec = CountVectorizer(stop_words='english')
x_train = vec.fit_transform(x_train).toarray()
x_test = vec.transform(x_test).toarray()

In [18]:
model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

In [15]:
model.score(x_test, y_test)

0.873251876932136

In [16]:
model_pred = model.predict(x_test)
f1_score(y_test, model_pred, average='micro')

0.873251876932136